<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-6">
      <form [formGroup]="customerFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer">
          <h3>Login</h3>
          <hr />

          <!-- email -->
          <div class="my-3">
            <label class="form-label">Email</label>
            <input type="text" class="form-control" formControlName="email" />
            <div
              *ngIf="email?.invalid && (email?.dirty || email?.touched)"
              class="alert alert-danger"
            >
              <div *ngIf="email?.errors?.['required']">Email is required.</div>
            </div>
          </div>

          <!-- Password -->
          <div class="my-3">
            <label class="form-label">Password:</label>
            <input
              type="password"
              class="form-control"
              formControlName="password"
            />
            <div
              *ngIf="
                password?.invalid && (password?.dirty || password?.touched)
              "
              class="alert alert-danger"
            >
              <div *ngIf="password?.errors?.['required']">
                Passwprd is required.
              </div>
            </div>
          </div>
        </div>

        <!-- Submit button -->
        <div class="d-grid">
          <input type="submit" value="Login" class="btn btn-primary" />
        </div>
        <div style="float: left">
          New Customer?
          <a routerLink="/register" class="">Click here</a>
        </div>
        <div style="float: right">
          Forgot Password?
          <a routerLink="/forgot-password" class="">Click here</a>
        </div>
      </form>
    </div>
  </div>
</div>
